---
import exploreJson from "../../../data/explore.json";
---

<section class="py-12 px-12 text-2xl" id="explore">
  <header
    class="border-b-4 border-border-green inline-block w-fit-content mt-4 mb-4 ml-20"
  >
    <h1>Explore Cebu</h1>
  </header>
  <div class="flex gap-4 px-1 py-2">
    {
      exploreJson.contents.map((item) => {
        return (
          <div class="flex-1">
            <img
              src={item.imageUrl}
              alt={item.alt}
              class="w-full h-[300px] object-cover rounded-lg md:object-center"
            />
            <div class="text-center mt-2">{item.name}</div>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  img {
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
</style>
