---
---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
		<title>Cebu</title>
	</head>

	<body>

		<header>
			<h1>
				<a href="/" class="font-bold">Home</a>
				<a href="/places" class="font-bold">Places to go</a>
				<a href="/things" class="font-bold">Things to do</a>
				<a href="/events" class="font-bold">Festivities to Visit</a>
			</h1>
		</header>

		<h1>Cebu</h1>
		<h1>Cebu Landing Page</h1>
	</body>
</html>