---
---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
		<title>Cebu</title>
	</head>

	<body>

		<header>
			<h1 class="font-bold">
				<a href="/">Home</a>
				<a href="/trends">Trending</a>
				<a href="/explore">Explore</a>
				<a href="/events">Events</a>
				<a href="/videos">Videos</a>
				<a href="/itinerary">Itinerary</a>
				<a href="/gallery">Gallery</a>
			</h1>
		</header>

		<h1 class="font-bold">Festivals in Cebu</h1>
		<h2>
			People in Cebu love to celebrate festivals or are fiesta-loving people. Cebu has one of the most colorful and 
			world-renowned festivals in the Philippines and they celebrate it with excitement and high spirits. 
			Cebu celebrates different festivals in different towns and cities. Cebu celebrates fiestas with religious rituals and 
			dancing in the streets to the beat of the drums.
        </h2>

		<h3 class="font-bold">Sinulog Festival</h3>
        <p>
			<h1 class="font-bold">When?</h1>
			<h2>3rd Sunday of January</h2>
			<h3 class="font-bold">Where?</h3>
			<h4>Cebu City</h4>
            People shout “Viva Pit Señor”. The Sinulog is Cebu City’s most popular and grandest festival. 
			It is celebrated every 3rd Sunday of January in honor of the Señor Sto. Niño. 
			Foreign and local tourists flock to Cebu City for this celebration and join in the procession and the grand mardi gras. 
			The Sinulog is a dance-prayer expressing devotion to the Holy Child. it is a popular belief among Cebuanos that 
			this dance-prayer is the most effective way of getting favors from the Sto. Niño. 
			This festival is world-renowned and the most extravagant festival in Cebu. 
			The Sinulog festival is celebrated in honor of the holy child Senior Santo Niño. 
			The highlights of this festivities are the street dancing where merrymakers dance to the beat of the pit senor drums.
        </p>

		<h3 class="font-bold">Tagbo Festival</h3>
        <p>
			<h1 class="font-bold">When?</h1>
			<h2>19th of January</h2>
			<h3 class="font-bold">Where?</h3>
			<h4>Poro, Camotes Island</h4>
            It is celebrated every January in honor of patron Sto. Niño de Poro. Beloved memoir of a living past, 
			Tagbo is the cornerstone from which this great municipality has sprung. Rich in cultural heritage and 
			deep in spiritual values, Tagbo is a very significant event precluding the birth of a town very dear to the
			hearts of her sons and daughters.
        </p>

		<h3 class="font-bold">Bodbod Festival</h3>
        <p>
			<h1 class="font-bold">When?</h1>
			<h2>10th of February</h2>
			<h3 class="font-bold">Where?</h3>
			<h4>Catmon, Cebu</h4>
            The town of Catmon is famous for its tasty “bodbod” and thus is the focus of the festival. 
			The street dancing competition is participated by the different barangays has its dance movements, 
			the movement of making the bodbod with the costumes in bodbod concept.
        </p>

		<h3 class="font-bold">Haladaya Festival</h3>
        <p>
			<h1 class="font-bold">When?</h1>
			<h2>Easter Sunday (April 9)</h2>
			<h3 class="font-bold">Where?</h3>
			<h4>Daan Bantayan, Cebu</h4>
            Starts on Easter Sunday and ends with a street dancing on the seventh day after Easter. 
			Haladaya means “Halad Kang Datu Day”, the leader of the first Malayan settlers in Daan Bantayan.
			Highlights include the fluvial parade where patron saints of the different barangays will be placed in decorated bancas
			or motorized outrigger boats and paraded in the sea.
        </p>

		<h3 class="font-bold">Dinagat Bakasi festival</h3>
        <p>
			<h1 class="font-bold">When?</h1>
			<h2>2nd Week of August</h2>
			<h3 class="font-bold">Where?</h3>
			<h4>Cordova, Cebu</h4>
			It is a unique reinvention of the Dinagat Festival. The exotic eel locally known as “bakasi” is peculiar and abundant
			in Cordova. The dance replicates the gliding movement of the bakasi.
        </p>

	</body>
</html>