---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Welcome to Cebu";
---

<Layout pagetitle={pageTitle}>
  <section class="relative">
    <div class="h-[600px] relative">
      <img
        class="w-full h-full object-cover flex justify-center rounded-br-[350px] mb-4"
        src="https://photos.tpn.to/oi/gi/eq/jt/1600x900.webp"
        alt="Cebu Beach"
      />
      <article
        class="absolute top-[200px] left-[30px] transform translate-y-[250px] bg-[#2B5F8F] pb-[30px] rounded-tr-[125px] max-w-[1000px]"
      >
        <h1 class="flex justify-center text-2xl py-2 text-white">
          Welcome to Cebu!
        </h1>
        <p class="text-sm text leading-4 mx-auto w-3/4 text-white">
          Welcome to Cebu, a province in the Philippines known for its stunning
          natural beauty, rich cultural heritage, and warm hospitality. Located
          in the heart of the Visayas region, Cebu boasts a diverse array of
          attractions, from pristine beaches and breathtaking natural wonders to
          vibrant festivals and historical landmarks. Whether you're looking to
          relax on white sand beaches, explore ancient ruins, or savor local
          delicacies, Cebu has something for everyone. So come and discover the
          beauty and wonder of Cebu – the Queen City of the South.
        </p>
      </article>
    </div>
  </section>

  <br /><br />

  <section
    class="relative w-3/4 mx-auto rounded-tl-[5rem] overflow-hidden my-24"
  >
    <!-- Background -->
    <div
      class="h-full max-h-[500px] absolute top-0 w-full right-0 bg-[#2B5F8F] z-[-1]"
    >
      <header class="">
        <!-- Header -->
        <h1 class="text-white mx-24 pl-12 pt-8 text-4xl">Trending Now</h1>
      </header>
    </div>
    <section class="relative mt-24">
      <!-- Picture -->
      <div class="h-[500px] w-3/4 ml-36 rounded-tl-[10%]">
        <img
          src="https://gttp.imgix.net/198519/x/0/osmena-peak.jpg"
          alt="Osmeña Peak"
        />
      </div>
      <div
        class="h-[900px] w-[50%] bg-[#2B5F8F] max-h-[615px] absolute z-10 top-0 right-[0.1px] text-white"
      >
        <div class="ml-36 mt-16 text-5xl">
          <header>Best in 2023</header>
        </div>
        <div>
          <p class="pt-12 pl-10">Osmeña Peak</p>
          <p class="pt-8 pl-10 mr-12">
            Osmeña Peak offers a panoramic view of the surrounding landscape,
            which includes neighboring islands, mountains, and the sea. The view
            is particularly stunning during sunrise and sunset, when the sky is
            painted with vibrant colors.
          </p>
        </div>
      </div>
    </section>
  </section>

  <!-- Locations -->
  <section class="flex flex-wrap flex-row gap-4 mx-32 my-8">
    <div class="flex-1">
      <img
        class="w-full h-full object-cover"
        src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1620,h_1080,f_auto/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/ukz9ogtqkfqiymk5jkkv/CebuOceanParkTicket-KlookPhilippines.jpg"
        alt="Cebu Ocean Park"
      />
      <div class="text-center">Cebu Ocean Park</div>
    </div>
    <div class="flex-1">
      <img
        class="w-full h-full object-cover"
        src="https://res.klook.com/image/upload/c_fill,w_843,h_474/q_80/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/ch1ecatcmettcu5agdcp.webp"
        alt="Badian"
      />
      <div class="text-center">Badian Canyoneering</div>
    </div>
    <div class="flex-1">
      <img
        class="w-full h-full object-cover"
        src="https://res.klook.com/image/upload/c_fill,w_843,h_474/q_80/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/ksyua98zjl4k8jxn5vsd.webp"
        alt="Anjo World"
      />
      <div class="text-center">Anjo World</div>
    </div>
  </section>

  <!-- Explore Cebu -->
  <section class="p-12 text-[24px]">
    <!-- Header  -->
    <header class="border-b-4 inline-block w-fit-content mb-4 ml-20">
      <h1>Explore Cebu</h1>
    </header>
    <div class="flex flex-wrap flex-row gap-4 px-1 py-2">
      <div class="flex-1">
        <img
          class="w-full h-[300px] object-cover"
          src="https://scontent.fceb2-1.fna.fbcdn.net/v/t39.30808-6/326487447_738684291224880_6214457149661238119_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_ohc=ZddBNJQ6lz8AX-fgkvC&_nc_ht=scontent.fceb2-1.fna&oh=00_AfDa6pz8xXrj8xHQn22NzCXsNGanMhG8qhuje4PADHe9ig&oe=641EEAF2"
          alt="Beach Resort"
        />
        <div class="text-center">Explore Cebu Island</div>
      </div>
      <div class="flex-1">
        <img
          class="w-full h-[300px] object-cover"
          src="https://lp-cms-production.imgix.net/2019-06/6941db7cfc5a9708afb193d52005bc8d-magellan-s-cross.jpg"
          alt="Magellan's Cross"
        />
        <div class="text-center">Culture & Heritage</div>
      </div>
      <div class="flex-1">
        <img
          class="w-full h-[300px] object-cover"
          src="https://gttp.imgix.net/222711/x/0/"
          alt="Sinulog"
        />
        <div class="text-center">Festivals & Events</div>
      </div>
      <div class="flex-1">
        <img
          class="w-full h-[300px] object-cover"
          src="https://cdn.phonebooky.com/blog/wp-content/uploads/2020/02/06095332/cover-1.jpg"
          alt="lechon"
        />
        <div class="text-center">Local Food & Cuisine</div>
      </div>
      <div class="flex-1">
        <img
          class="w-full h-[300px] object-cover"
          src="https://www.madmonkeyhostels.com/wp-content/uploads/2019/07/shutterstock_129186500-min-1024x683.jpg"
          alt="Fort"
        />
        <div class="text-center">Historical landmarks</div>
      </div>
    </div>
  </section>

  <!-- Events -->
  <!-- TODO: Must create script using CSR -->
  <section class="p-12 text-[24px]">
    <!-- Header -->
    <header class="border-b-4 inline-block w-fit-content mb-4 ml-20">
      <h1>Upcoming Events in</h1>
    </header>
    <div>
      <!-- TODO: add CSR script here -->
    </div>
  </section>

  <!-- Videos -->
  <section class="grid grid-rows-4 grid-flow-col gap-4 p-12 text-[24px]">
    <header class="">
      <div class="border-b-4 inline-block w-fit-content ml-20">
        Videos of Cebu
      </div>
    </header>

    <!-- Video -->
  </section>
</Layout>

<br /><br />

<h2>Itinerary</h2>

<br /><br />

<h2>Gallery of Cebu</h2>
