---
import Videos from "../components/landing-page/Videos.svelte";
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/landing-page/Gallery.astro";
import Events from "../components/landing-page/Events.svelte";
import Explore from "../components/landing-page/Explore.astro";
import Trending from "../components/landing-page/Trending.astro";
import Itinerary from "../components/landing-page/Itinerary.svelte";
import Welcome from "../components/landing-page/Welcome.astro";
---

<Layout>
  <title>Welcome to Cebu!</title>
  <!-- Welcome -->
  <Welcome />

  <!-- Trending -->
  <Trending />

  <!-- Explore Cebu -->
  <Explore />

  <!-- Events -->
  <Events client:load />

  <!-- Videos -->
  <Videos client:load />

  <!-- Itinerary -->
  <Itinerary client:load />

  <!-- Galleries of Cebu -->
  <Gallery />
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
