---
import Videos from "../components/Videos.svelte";
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
import Events from "../components/Events.svelte";
// import Test from "../components/test.svelte";
import Explore from "../components/Explore.astro";
import Trending from "../components/Trending.astro";
const pageTitle = "Welcome to Cebu";
---

<Layout pagetitle={pageTitle}>
  <section class="relative">
    <div class="h-[600px] relative">
      <img
        class="w-full h-full object-cover flex justify-center rounded-br-[350px] mb-4"
        src="https://photos.tpn.to/oi/gi/eq/jt/1600x900.webp"
        alt="Cebu Beach"
      />
      <article
        class="absolute top-[200px] left-[30px] transform translate-y-[250px] bg-[#2B5F8F] pb-[30px] rounded-tr-[125px] max-w-[1000px]"
      >
        <h1 class="flex justify-center text-2xl py-2 text-white">
          Welcome to Cebu!
        </h1>
        <p class="text-sm text leading-4 mx-auto w-3/4 text-white">
          Welcome to Cebu, a province in the Philippines known for its stunning
          natural beauty, rich cultural heritage, and warm hospitality. Located
          in the heart of the Visayas region, Cebu boasts a diverse array of
          attractions, from pristine beaches and breathtaking natural wonders to
          vibrant festivals and historical landmarks. Whether you're looking to
          relax on white sand beaches, explore ancient ruins, or savor local
          delicacies, Cebu has something for everyone. So come and discover the
          beauty and wonder of Cebu – the Queen City of the South.
        </p>
      </article>
    </div>
  </section>

  <br /><br />

  <section
    class="relative w-3/4 mx-auto rounded-tl-[5rem] overflow-hidden my-24"
  >
    <!-- Background -->
    <div
      class="h-full max-h-[500px] absolute top-0 w-full right-0 bg-[#2B5F8F] z-[-1]"
    >
      <header class="">
        <!-- Header -->
        <h1 class="text-white mx-24 pl-12 pt-8 text-4xl">Trending Now</h1>
      </header>
    </div>
    <section class="relative mt-24">
      <!-- Picture -->
      <div class="h-[500px] w-3/4 ml-36 rounded-tl-[10%]">
        <img
          src="https://gttp.imgix.net/198519/x/0/osmena-peak.jpg"
          alt="Osmeña Peak"
        />
      </div>
      <div
        class="h-[900px] w-[50%] bg-[#2B5F8F] max-h-[615px] absolute z-10 top-0 right-[0.1px] text-white"
      >
        <div class="ml-36 mt-16 text-5xl">
          <header>Best in 2023</header>
        </div>
        <div>
          <p class="pt-12 pl-10">Osmeña Peak</p>
          <p class="pt-8 pl-10 mr-12">
            Osmeña Peak offers a panoramic view of the surrounding landscape,
            which includes neighboring islands, mountains, and the sea. The view
            is particularly stunning during sunrise and sunset, when the sky is
            painted with vibrant colors.
          </p>
        </div>
      </div>
    </section>
  </section>

  <!-- Trending -->
  <Trending />

  <!-- Explore Cebu -->
  <Explore />

  <!-- Events -->
  <!-- TODO: Must create script using CSR -->
  <Events client:load />
  <!-- <Test client:load /> -->

  <!-- Videos -->
  <Videos client:load />

  <!-- Itinerary -->
  <section class="py-8">
    <!-- Header  -->
    <header class="border-b-4 inline-block w-fit-content mb-4 ml-20">
      <h1>Itinerary Tips</h1>
    </header>
  </section>

  <!-- Galleries of Cebu -->
  <Gallery />
</Layout>
