---
import Navigation from "../components/Navigation.astro";
import Itinerary from "../components/itinerary-page/Itinerarypage.astro";
---

<Navigation>
  <title>Itinerary Page</title>
  <Itinerary />
</Navigation>
