---
---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
		<title>Places to Go</title>
	</head>

	<body>
		<header>
            <h1>
                <a href="/" class="font-bold">Home</a>
                <a href="/places" class="font-bold">Places to go</a>
                <a href="/things" class="font-bold">Things to do</a>
                <a href="/events" class="font-bold">Festivities to Visit</a>
            </h1>
        </header>


		<h1>Don't Know where to go?</h1>
        <h4>
            <p>Cebu City is a highly urbanized city located in the Central Visayas region of the Philippines. 
                It is the second-largest city in the Philippines, with a population of around 922,000 people as of 2020. 
                The city is a major economic and cultural center in the Visayas, with a diverse range of industries including shipping, 
                tourism, manufacturing, and business process outsourcing.
            </p>
        </h4>

        <p>Cebu City is known for its rich history and cultural heritage, 
            with a number of historic landmarks and tourist attractions. These include the Basilica del Santo Niño, Magellan's Cross, 
            Fort San Pedro, and the Cebu Taoist Temple. The city is also known for its festivals, including the Sinulog Festival, 
            which celebrates the city's patron saint, the Santo Niño.
        </p>
        <p>
            In recent years, Cebu City has experienced rapid development 
            and growth, with numerous high-rise buildings, shopping malls, and entertainment complexes being constructed. 
            Despite this modernization, the city still retains its unique charm and character, and remains a popular destination for 
            tourists and expatriates alike.
        </p>
	</body>

</html>