<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} >
		<title>Cebu</title>
	</head>

	<body>

		<header>
            	<h1>
					<a href="/" class="font-bold">Home</a>
            		<a href="/places" class="font-bold">Places to go</a>
                    <a href="/things" class="font-bold">Things to do</a>
                    <a href="/events" class="font-bold">Festivities to Visit</a>
			</h1>
        </header>

		<h1>Things to do</h1>
		<h1>
            Cebu is the oldest city in the Philippines, that also means that it has the oldest cultural traditions.
            Here are some of the things you can do while you're in Cebu regardless of the season.
        </h1>


        <h2 class="font-bold">Island Hopping</h2>
        <p>
            Cebu has a number of beautiful islands and islets that are perfect for island hopping. 
            Some of the popular destinations include Nalusuan Island, Pandanon Island, and Hilutungan Island.
        </p>
        <h2 class="font-bold">Whale Shark Watching</h2>
        <p>
            Swimming with the gentle giants of the sea is a popular activity in Cebu. 
            Oslob is the most famous destination for whale shark watching.
        </p>
        <h2 class="font-bold">Scuba Diving and Snorkeling</h2>
        <p>
            Cebu has some of the best diving and snorkeling spots in the Philippines. 
            Some of the popular destinations include Moalboal, Malapascua Island, and Pescador Island.
        </p>
        <h2 class="font-bold">Visiting Historical Landmarks</h2>
        <p>
            Cebu has a rich history, and there are many historical landmarks to explore. 
            Some of the popular ones include Magellan's Cross, Basilica del Santo Niño, and Fort San Pedro.
        </p>
        <h2 class="font-bold">Food trips</h2>
        <p>
            Cebu is known for its delicious cuisine, and there are many food destinations to explore. 
            Some of the must-try dishes include lechon (roast pig), danggit (dried fish), and puso (rice wrapped in coconut leaves).
        </p>
        <h2 class="font-bold">Visit Museums and galleries</h2>
        <p>
            Cebu has several museums and galleries that showcase the province's art and culture. 
            Some of the popular ones include Casa Gorordo Museum, University of San Carlos Museum, and the Cebu City Museum.
        </p>
        <h2 class="font-bold">Touring the city</h2>
        <p>
            Cebu City is a bustling metropolis with many interesting places to visit. 
            You can go on a city tour to explore its landmarks, shopping destinations, and parks.
        </p>

    </body>
</html>