---
import Trendingpage from "../components/trending-page/Trendingpage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <title>Trending in Cebu</title>
  <Trendingpage />
</Layout>
