---
---

<section class="relative py-64 text-[24px] flex">
  <div class="w-50%"></div>
  <div class="absolute top-0">
    <ul class="w-75% pl-16">
      Events in the month of:
      <li class="w-36 mx-4 border-b-2 border-gray-500 text-center">
        January
        <ul class="dropdown text-center">
          <li>January</li>
          <li>February</li>
          <li>March</li>
          <li>April</li>
          <li>May</li>
          <li>June</li>
          <li>July</li>
          <li>August</li>
          <li>September</li>
          <li>October</li>
          <li>November</li>
          <li>December</li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<style>
  * {
    padding: 0;
    margin: 0;
    font-family: monospace;
  }
  ul {
    list-style: none;
    /* background: #22438c; */
  }
  ul li {
    display: inline-block;
    position: relative;
  }
  li {
    color: #0b0b0b;
  }
  ul li ul.dropdown li {
    display: block;
  }
  ul li ul.dropdown {
    width: 100%;
    background: #99a7c5;
    position: absolute;
    z-index: 999;
    display: none;
  }
  ul li:hover {
    background: #687389;
  }
  ul li:hover ul.dropdown {
    display: block;
  }
</style>
