<!-- TODO add effects on the Gallery -->
<section class="py-8 max-w-full">
  <!-- Header  -->
  <header class="border-b-4 border-border-green inline-block w-fit-content mb-4 ml-20">
    <h1>Gallery of Cebu</h1>
  </header>
  <section class="py-8 max-w-full grid grid-cols-5 gap-4 mx-24">
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://img.atlasobscura.com/0pW-JKe_92gnfQVotwmz59mhAIMZHYZ9qOd97qq36Zw/rt:fit/w:600/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL3BsYWNl/X2ltYWdlcy82ZTFk/NTc5MGM3NTY1OWJk/YWRfNDUwcHgtQ2Vi/dV9NYWdlbGxhbidz/X0Nyb3NzLmpwZw.jpg"
        alt="Magellan's Cross"
      />
    </div>
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://gttp.imgix.net/385761/x/0/visit-the-oldest-religious-relic-at-basilica-minore-del-santo-nino.jpg?ar=1.91%3A1&w=1200&fit=crop"
        alt="Basilica del Santo Niño"
      />
    </div>
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://cebu247.com/wp-content/uploads/2018/12/cebu-fort-san-pedro.jpg"
        alt="Fort San Pedro"
      />
    </div>
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://sugbo.ph/wp-content/uploads/2020/11/Cebu-Taoist-Temple-2.jpg"
        alt="Cebu Taoist Temple"
      />
    </div>
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://www.sunstar.com.ph/uploads/images/2022/05/23/357104.jpg"
        alt="Carbon Market"
      />
    </div>
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://media-cdn.tripadvisor.com/media/photo-s/1a/3f/44/b9/entrance-of-the-usc-museum.jpg"
        alt="University of San Carlos Museum"
      />
    </div>
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/04/49/e5/a3/cebu-heritage-monument.jpg?w=1200&h=-1&s=1"
        alt="Cebu Heritage Monument"
      />
    </div>
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://titastravels.files.wordpress.com/2021/02/colon_street-fb-1.jpg"
        alt="Colon Street"
      />
    </div>
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://1.bp.blogspot.com/-Nq6U8bl1LxY/YMwTed9ctSI/AAAAAAAAVd8/DOMEs3gDb4k4XCic7jULtCdIlndU57wLACLcBGAsYHQ/s2048/1623986969268.jpg"
        alt="Temple of Leah"
      />
    </div>
    <div>
      <img
        class="h-full w-full object-cover"
        src="https://gttp.imgix.net/374707/x/0/run-through-flower-beds-at-sirao-flower-farm.jpg?ar=1.91%3A1&w=1200&fit=crop"
        alt="Sirao Flower Farm"
      />
    </div>
    <div class="col-span-5 max-h-[500px]">
      <img
        class="h-full w-full object-cover"
        src="https://newsinfo.inquirer.net/files/2022/10/Tops-Lookout-Cebu-City-scaled.jpg"
        alt="Tops Lookout"
      />
    </div>
  </section>
</section>

<style>
  img {
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
</style>
