---
---

<nav
  class="font-bold bg-white border-2 flex justify-center fixed z-10 left-0 right-0 mx-auto mb-12"
>
  <a href="#welcome" class="p-4">Home</a>
  <a href="#trending" class="p-4">Trending</a>
  <a href="#explore" class="p-4">Explore</a>
  <a href="#events" class="p-4">Events</a>
  <a href="#videos" class="p-4">Videos</a>
  <a href="#itinerary" class="p-4">Itinerary</a>
  <a href="#gallery" class="p-4">Gallery</a>
</nav>
