---
import trendingJSON from "../../data/trending.json";
---

<section class="relative w-3/4 mx-auto rounded-tl-[5rem] overflow-hidden my-24">
  <!-- Background -->
  <div
    class="h-full max-h-[500px] absolute top-0 w-full right-0 bg-[#2B5F8F] z-[-1]"
  >
    <header class="">
      <!-- Header -->
      <h1 class="text-white mx-24 pl-12 pt-8 text-4xl">Trending Now</h1>
    </header>
  </div>
  <section class="relative mt-24">
    <!-- Picture -->
    <div class="h-[500px] w-3/4 ml-36 rounded-tl-[10%]">
      <img
        src="https://gttp.imgix.net/198519/x/0/osmena-peak.jpg"
        alt="Osmeña Peak"
      />
    </div>
    <div
      class="h-[900px] w-[50%] bg-[#2B5F8F] max-h-[615px] absolute z-10 top-0 right-[0.1px] text-white"
    >
      <div class="ml-36 mt-16 text-5xl">
        <header>Best in 2023</header>
      </div>
      <div>
        <p class="pt-12 pl-10">Osmeña Peak</p>
        <p class="pt-8 pl-10 mr-12">
          Osmeña Peak offers a panoramic view of the surrounding landscape,
          which includes neighboring islands, mountains, and the sea. The view
          is particularly stunning during sunrise and sunset, when the sky is
          painted with vibrant colors.
        </p>
      </div>
    </div>
  </section>
</section>

<section class="flex gap-4 mx-32 my-8">
  {
    trendingJSON.contents.map((trending) => {
      return (
        <div class="flex-1">
          <img
            src={trending.imageUrl}
            alt={trending.alt}
            class="w-full h-full object-cover hovereffect"
          />
          <div class="text-center pt-3 text-xl">{trending.name}</div>
        </div>
      );
    })
  }
</section>

<style>
  .hovereffect {
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
  .hovereffect:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
</style>
