<section class="relative" id="welcome">
  <div class="h-[600px]">
    <img
      class="w-full h-full object-cover flex justify-center rounded-br-[350px] mb-4"
      src="https://photos.tpn.to/oi/gi/eq/jt/1600x900.webp"
      alt="Cebu Beach"
    />
    <article
      class="absolute top-[200px] left-[30px] transform translate-y-[250px] bg-[#2B5F8F] pb-[30px] rounded-tr-[125px] max-w-[1000px]"
    >
      <h1 class="text-center text-2xl py-2 text-white">Welcome to Cebu!</h1>
      <p class="text-sm text leading-4 mx-auto w-3/4 text-white">
        Welcome to Cebu, a province in the Philippines known for its stunning
        natural beauty, rich cultural heritage, and warm hospitality. Located in
        the heart of the Visayas region, Cebu boasts a diverse array of
        attractions, from pristine beaches and breathtaking natural wonders to
        vibrant festivals and historical landmarks. Whether you're looking to
        relax on white sand beaches, explore ancient ruins, or savor local
        delicacies, Cebu has something for everyone. So come and discover the
        beauty and wonder of Cebu – the Queen City of the South.
      </p>
    </article>
  </div>
</section>
