<section>
  <div class="pt-24 bg-crimson object-bottom pb-6 h-1/2">
    <div class="text-center mx-5 backdrop-blur-sm rounded-full text-white">
      <h1 class="inline-block border-b-4 my-2 border-border-green text-2xl">
        Itinerary Tips
      </h1>
      <p class="mb-4 mt-2 mx-2 bg-[#2B5F8F] p-1 bg-opacity-60 rounded-3xl">
        Welcome to our itinerary webpage! We're delighted to have you here,
        ready to embark on a journey of exploration and discovery. Whether
        you're planning an exciting adventure or seeking inspiration for your
        next getaway, you've come to the right place. Our carefully curated
        itineraries are designed to help you make the most of your travel
        experience, guiding you through captivating destinations, highlighting
        must-visit attractions, and suggesting memorable activities along the
        way. Get ready to immerse yourself in a world of possibilities as you
        create unforgettable memories. Let the adventure begin!
      </p>
    </div>
  </div>
</section>

<section class="my-20">
  <div>
    <h1>HELLO</h1>
    <p>Hey!</p>
  </div>
</section>
