---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://i.imgur.com/KfMwECH.png"
    />
    <link rel="stylesheet" href="../styles/global.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This website gives you a small detail about Cebu and Itinerary Tips if you plan to visit Cebu. From tourist spots and events, we have listed important events in Cebu for you to visit!"
    />
    <meta property="og:image" content="https://i.imgur.com/sn6CG8X.jpg" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
